@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #f1f1f1;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  /* text-align: center; */
}

header h1 {
  font-size: 24px;
  top: 0;
  background-image: linear-gradient(to right, #ffc107, #fb8c00, #ffeb3b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* Main content styles */
.container {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Profile section styles */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 200px;
}

.profile h2 {
  font-size: 20px;
}

/* Post section styles */
.post {
  margin-bottom: 20px;
}

.post .post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post .post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post .post-header h3 {
  font-size: 16px;
}

.post .post-content {
  font-size: 14px;
  line-height: 1.5;
}

/* Comment section styles */
.comments {
  margin-top: 10px;
  padding-left: 50px;
}

.comments .comment {
  margin-bottom: 10px;
}

.comments .comment p {
  font-size: 14px;
  line-height: 1.5;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.hover-menu {
  position: fixed;
  left: 50%;
  bottom: 8%;
  background-color: #363949;
  border-radius: 4rem;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */
.hover-menu a {
  width: 100%;
  border-radius: 4rem;
  color: #f2f2f2;
  padding-block: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  transition: 0.1s all ease-in-out;
}

/* Change the color of links on hover */
.hover-menu a:hover {
  background-color: #6f66e7;
  color: #ddd;
  transform: scale(1.05);
}

@media only screen and (min-width: 468px) {
  .hover-menu {
    width: 60%;
  }
}

@media only screen and (max-width: 468px) {
  .hover-menu {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  .hover-menu {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .hover-menu {
    width: 35%;
  }
}
